/* font */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
body {
  font-family: 'Roboto', sans-serif;
}

nav {
  color: #fff;
  background-color: #353535 !important;
  width: 100%;
}
nav ul a {
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  font-size: 1rem;
  color: #fff;
  display: block;
  padding: 0 25px !important;
  cursor: pointer;
}
a.sidenav-trigger i {
  height: 64px;
  line-height: 64px;
}

a:hover{
  color: #ff4343;
}

/* slider */
.image-resnponsive{
  max-width: 100%;
  height: auto;
  object-fit: cover !important;
}
.slider{
  height: inherit !important;
  display: block;
  width: 100% !important ;
  margin-bottom: 20px;
}
.slider .slides li img {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
}
.indicators{
  margin-bottom: 20px !important;
  z-index: 1000;
}
.slider .indicators {
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
}
.slider .indicators .indicator-item.active{
  background-color: rgb(255, 50, 50) !important;
}
.slider .indicators .indicator-item {
  display: inline-block;
  position: relative;
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 5px;
  background-color: #bbbbbb !important;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  border-radius: 50%;
}

/* embed video*/
.embed-responsive-item{
  width: 100%;
  height: 300px;
  align-items: center !important;
}
.fa-chevron-right{
  margin-left: 10px !important;
}
.judul{
  color: #ff4343;
}
.btn, .btn-large, .btn-small {
  text-decoration: none;
  color: #fff;
  background-color: #ff1c1c;
  text-align: center;
  letter-spacing: .5px;
  -webkit-transition: background-color .2s ease-out;
  transition: background-color .2s ease-out;
  cursor: pointer;
}
.btn:hover{
  color: #ffffff;
  background-color: rgb(77, 77, 77);
}
.image:after {
  width: 100%;
  display: block;
  z-index: 1000;
  content: "";
  height: 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../image/tour.svg);
}
.image:hover:after {
  background-image: url(../image/tour_white.svg);
}
/* mini profile */
.titlered{
  color: #ff3d3d;
}
.styleminprof{
  background-color: #f5f5f5 !important;
  width: 100%;
  padding: 30px;
}
.card#cardprofile{
  color: #636363 !important;
  background-color: #f5f5f5 !important;
  -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0) !important;
  -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0) !important;
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0) !important;
}
.card#cardprofile:hover{
  color: #ffffff !important;
  background-color: #ff3d3d !important;
}

/* info */
.card-title{
  font-weight: bold !important;
}
.info{
  color: #ff0000;
  font-weight: bold;
}
.info:hover{
  color: #353535;
}
.fa-arrow-right{
  padding-left: 10px;
}
.fa-comment-alt{
  color: #202020;
  padding-right: 5px;
}
.comment{
  color: #202020 !important;
}

/* footer */
.fa-map-marker-alt{
  padding-right: 20px;
}
.fa-phone{
  padding-right: 15px;
}
.fa-envelope{
  padding-right: 15px;
}
.page-footer{
  background-image: url("../image/footerbg.png") ;
  background-size: cover !important;
}
.footer-copyright{
  background-color: #202020 !important;
}
h5{
  padding-bottom: 10px;
}
.link-produk{
  color: #fff;
}
.link-produk:hover{
  color: #ff1c1c;
}

/* tentang */
.parallax{
  width: auto;
  height: auto;
}
.parallax-container {
  position: relative;
  overflow: hidden;
  height: 400px !important;
}
.vismis{
  size: 10px;
  background-image: url("../image/bg1.jpg");
  background-position: center;
  background-size: cover;
  padding: 20px;
}
.titlevm{
  color: white;
}
.fill{
  color: #ffffff;
}

/* map */
.map{
  margin: 20px;
}

/* dealer lain */
.fa-phone{
  padding-right: 10px;
}
.telp{
  color: #ff1c1c;
  font-weight: bold;
}
.telp1{
  color: #ff1c1c;
  font-weight: bold;
  padding-top: 50px !important;
}


/* service */
.card-image#imgalur{
  background-position: center;
  width: 100%;
}

.card .card-reveal {
  padding: 24px;
  position: absolute;
  background-color: rgb(255, 60, 60);
  color: white;
  width: 100%;
  overflow-y: auto;
  left: 0;
  top: 100%;
  height: 100%;
  z-index: 3;
  display: none;
}

.card-image#imgser{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.gbr{
  padding-top: 95px !important;
  align-items: center !important;
}
.gbr2{
  padding-top: 65px !important;
}
.gbr1{
  align-items: center;
}

.layanan{
  background-image: url(../image/bglayanan.png);
  background-size: cover;
  padding: 10px;
}

.titlelayanan{
  color: rgb(255, 60, 60);
  margin-top: 20px;
}
.layanantext{
  color: rgb(31, 31, 31);
}
.card#cardlayanan{
  background-color: rgba(235, 235, 235, 0);
  border-radius: 20px;
  
  /* border: 4px solid rgb(255, 45, 45); */
  -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0) !important;
  -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0) !important;
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0) !important;
}
.imagelayanan{
  width: 600px;
  height: auto;
}

/* bengkel honda */
.headtab{
  color: white;
  background-color: rgb(206, 25, 25);
}